.home-page {
  background-color: $gray-black;
  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
    background-color: $gray-black;
  }
}

.brand-new-models {
  &__title {
    display: block;
    background-color: #323542;
    height: 40px;
    margin-bottom: 24px;
  }
}

.block {
  &__phone {
     background-color: #323542;
     height: 506px;
  }
}
