.page {
  &__section {
    &--1 {
      box-sizing: border-box;
      margin-bottom: 80px;
      @include onTablet {
        padding: 0 24px 0;
      }

      @include onDesktop {
        padding: 0 32px 0;
      }
    }

    &--2 {
      box-sizing: border-box;
      padding: 0 16px 57px;
      @include onTablet {
        padding: 0 24px 64px;
      }

      @include onDesktop {
        padding: 0 32px 80px;
      }
    }
  }
}
