.page {
  &__section {
    &--1 {
      box-sizing: border-box;
      margin-bottom: 80px;
      @include onTablet {
        padding: 0 24px 0;
      }

      @include onDesktop {
        padding: 0 32px 0;
      }
    }
  }
}
