.welcome {
  &__title {
    display: inline-block;
    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 24px;
    margin-top: 24px;
    color: $gray-white;
    background-color: $gray-black;

    @include onDesktop {
      font-size: 48px;
      line-height: 56px;
      margin-top: 56px;
      margin-bottom: 56px;
    }
    @include onTablet {
      font-size: 48px;
      line-height: 56px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  &__now-available {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    background-image: url(../../../images/BannerSmall.png);

    @include onTablet {
      height: 190px;
      background-image: url(../../../images/Banner.png);
    }

    @include onDesktop {
      height: 400px;
      background-image: url(../../../images/Banner.png);
    }
  }
  &__sidebar {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $gray-surface2;
    width: 100%;
    @include onTablet {
      display: flex;
      height: 190px;
    }

    @include onDesktop {
      display: flex;
      height: 400px;
    }

    &:hover {
      background-color: $icons-color;
    }

    &:disabled{
      background-color: $gray-black;
      border: 1px solid $gray-elements;
    }

        &:disabled .icon-arrow {
        background-image: url(../../../images/Vector_gray_right.svg);
    }

  }

  &__slider {
    display: block;
    height: 32px;
    width: 100%;
  }
}

.slider {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  &__blocks {
    margin-right: 14px;
    height: 4px;
    width: 14px;
    background-color: $gray-elements;
   &:first-child {
    margin-left: 14px;
   }
    &:active {
      background-color: $gray-white;
    }
  }
}

.icon-arrow {
  display: none;
  height: 10px;
  width: 6px;
  background-image: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../images/Vector.svg);

  @include onDesktop {
    display: flex;
  }

  @include onTablet {
    display: flex;
  }
  &--left {
    transform: rotate(180deg);
  }

}
