.welcome {
  &__title {
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    margin: 24px 16px;
    color: $gray-white;
    background-color: $gray-black;
    text-align: left;

    @include onDesktop {
      font-size: 48px;
      line-height: 56px;
      margin-top: 56px;
      margin-bottom: 56px;
    }
    @include onTablet {
      font-size: 48px;
      line-height: 56px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  &__now-available {
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(../../../images/iphone-banner-1.png);

    @include onTablet {
      min-height: 190px;
    }

    @include onDesktop {
            height: 400px;
    }

    &--2 {
      background-image: url(../../../images/iphone-banner-2.png);
    }

    &--3 {
      background-image: url(../../../images/Banner.png);
    }
  }
  &__sidebar {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $gray-surface2;
    width: 100%;
    outline: none;
    border-color: transparent;
    @include onTablet {
      display: flex;
      min-height: 190px;
      width: 40%;
      justify-self: center;
    }

    @include onDesktop {
      display: flex;
      height: 400px;
      width: 100%;
    }

    &:hover {
      background-color: $icons-color;
    }

    &:disabled {
      background-color: $gray-black;
      border: 1px solid $gray-elements;
    }

    &:disabled .icon-arrow {
      background-image: url(../../../images/Vector_gray_right.svg);
    }
  }

  &__slider {
    display: block;
    height: 32px;
    width: 100%;
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &__blocks {
    margin-right: 14px;
    height: 4px;
    width: 14px;
    background-color: $gray-elements;
    &:first-child {
      margin-left: 14px;
    }
    &:active {
      background-color: $gray-white;
    }

    &--active {
      background-color: $gray-white;
    }
  }
}

.icon-arrow {
  display: block;
  height: 10px;
  width: 6px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../images/Vector.svg);

  &--sidebar {
    display: none;

    @include onDesktop {
      display: flex;
    }

    @include onTablet {
      display: flex;
    }
  }

  &--left {
    transform: rotate(180deg);
  }
}
