@import './reset.scss';
@import './utilsForScss/mixins.scss';
@import './utilsForScss/colors.scss';
@import './grid.scss';
@import './components/HomePage/page.scss';
@import './components/HomePage/HomePage.scss';
@import './components/HomePage/WelcomeBanner/WelcomeBanner.scss';
@import './components/Cart/Cart.scss';
@import './components/PhonesPage/PhonesPage.scss';
@import './components/FilterInputs/FilterInputs.scss';
@import './components/PhonesPage/PaginationButtons/PaginationButtons.scss';
@import './components/FavoritesPage/FavoritesPage.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
